<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-6">
    </div>

    <div class="col-md-2 col-lg-2 mt-3">
      <button *ngIf="getSearchFilterValues().size > 0" (click)="clearAllfilters()" class="btn btn-sm  text-secondary">
        Clear Filters
      </button>
    </div>

    <div class="col-md-2 col-lg-2 mt-3">
      <button (click)="toggleSearchFilters()" class="btn btn-sm  text-secondary">
        {{ showSearchFilters ? "Hide Filters" : "Show Filters" }}
      </button>
    </div>

    <app-page-item-limit 
      *ngIf="exercises?.length > 0"
      class="col-md-4 col-lg-2"
      [pageItemLimit]="pageItemLimit"
      (limitChangeEvent)="pageLimitClick($event)"
    ></app-page-item-limit>

  </div>
</div>

<div class="container" *loading="isLoading">
  <div *ngIf="!userHasExercises">
    <hr>
    <p class="text-secondary">No exercises yet...</p>
    <button 
      (click)="addClick()"
      type="button" 
      class="btn btn-outline-dark btn-lg" 
      data-toggle="modal" 
      data-target="#exerciseForm"
    ><i class="fa fa-plus"></i> New Exercise</button>
  </div>

  <table *ngIf="userHasExercises" class="table table-sm table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-4">
          <app-column-header
            [label]="'Name'"
            [field]="'name'"
            [activeSortField]="sortField"
            [activeSortDirection]="sortDirection"
            (sortChangeEvent)="changeSort($event)"
          ></app-column-header>
        </th>

        <th class="col-4">
          <app-column-header
            [label]="'Muscle Group'"
            [field]="'muscleGroup'"
            [activeSortField]="sortField"
            [activeSortDirection]="sortDirection"
            (sortChangeEvent)="changeSort($event)"
          ></app-column-header>
          <app-filter-field
            *ngIf="showSearchFilters"
            [field]="'muscleGroup'"
            [fieldList]="uniqueMuscleGroups"
            [selectedTerm]="searchFilters.get('muscleGroup')"
            (onFilter)="filter($event, 'muscleGroup')"
            (onClear)="clearFilter($event)"
            class="pt-3"
          ></app-filter-field>
        </th>

        <th class="col-4">
          <app-column-header
            [label]="'Type'"
            [field]="'type'"
            [activeSortField]="sortField"
            [activeSortDirection]="sortDirection"
            (sortChangeEvent)="changeSort($event)"
          ></app-column-header>
          <app-filter-field
            *ngIf="showSearchFilters"
            [field]="'type'"
            [fieldList]="uniqueExerciseTypes"
            [selectedTerm]="searchFilters.get('type')"
            (onFilter)="filter($event, 'type')"
            (onClear)="clearFilter($event)"
            class="pt-3"
          ></app-filter-field>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises" class="exercise-row d-flex" data-toggle="modal" data-target="#exerciseForm">
        <td class="col-4" (click)="addWorkoutExerciseClick(exercise)">{{ exercise.name }}</td>
        <td class="col-4" (click)="addWorkoutExerciseClick(exercise)">{{ exercise.muscleGroup }}</td>
        <td class="col-4" (click)="addWorkoutExerciseClick(exercise)">{{ exercise.type }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination-controls
    [numberOfPages]="numberOfPages"
    [currentPage]="currentPage"
    (clickEvent)="changePage($event)"
  ></app-pagination-controls>

</div>