<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Exercises</h1>
    </div>

    <app-page-item-limit 
      *ngIf="exercises?.length > 0"
      class="col-sm-4"
      [pageItemLimit]="pageItemLimit"
      (limitChangeEvent)="pageLimitClick($event)"
    ></app-page-item-limit>

  </div>
</div>
<div class="container" *ngIf="!isLoading; else spinner">
  <div *ngIf="exercises?.length === 0">
    <hr>
    <p class="text-secondary">No exercises yet...</p>
    <button 
      (click)="addClick()"
      type="button" 
      class="btn btn-outline-dark btn-lg" 
      data-toggle="modal" 
      data-target="#exerciseForm"
    ><i class="fa fa-plus"></i> New Exercise</button>
  </div>

  <table *ngIf="exercises?.length > 0" class="table table-sm table-hover">
    <thead>
      <tr>
        <th class="pb-3">
          <a (click)="sortClick('name')">
            Name
            <i *ngIf="sortField == 'name' && sortDirection == 'asc'" class="fa fa-caret-up"></i>
            <i *ngIf="sortField == 'name' && sortDirection == 'desc'" class="fa fa-caret-down"></i>
          </a>
        </th>
        <th class="pb-3">
          <a (click)="sortClick('muscleGroup')">
            Muscle Group
            <i *ngIf="sortField == 'muscleGroup' && sortDirection == 'asc'" class="fa fa-caret-up"></i>
            <i *ngIf="sortField == 'muscleGroup' && sortDirection == 'desc'" class="fa fa-caret-down"></i>
          </a>
        </th>
        <th class="pb-3">
          <a (click)="sortClick('type')">
            Type
            <i *ngIf="sortField == 'type' && sortDirection == 'asc'" class="fa fa-caret-up"></i>
            <i *ngIf="sortField == 'type' && sortDirection == 'desc'" class="fa fa-caret-down"></i>
          </a>
        </th>
        <th colspan="1" class="text-right">
          <button 
            (click)="addClick()"
            type="button" 
            class="btn btn-outline-dark my-1"
            data-toggle="modal" 
            data-target="#exerciseForm"
          ><i class="fa fa-plus"></i> New</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises" class="exercise-row" data-toggle="modal" data-target="#exerciseForm">
        <td (click)="editClick(exercise)">{{ exercise.name }}</td>
        <td (click)="editClick(exercise)">{{ exercise.muscleGroup }}</td>
        <td (click)="editClick(exercise)">{{ exercise.type }}</td>
        <td class="text-right">
          <button 
            (click)="editClick(exercise)"
            type="button" 
            class="btn btn-outline-dark btn-sm"
            data-toggle="modal" 
            data-target="#exerciseForm"
          ><i class="fa fa-edit"></i></button>
          <button 
            (click)="deleteClick(exercise)"
            type="button" 
            class="btn btn-outline-danger btn-sm"
            data-toggle="modal" 
            data-target="#exerciseForm"
          ><i class="fa fa-times-circle"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination-controls
    [numberOfPages]="numberOfPages"
    [currentPage]="currentPage"
    (clickEvent)="changePage($event)"
  ></app-pagination-controls>

</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<app-exercise-form [type]="formType" [exercise]="exercise" (saveEvent)="loadExercises()"></app-exercise-form>