<h1>Exercises</h1>
<table class="table" *ngIf="exercises?.length > 0; else spinner">
  <thead>
    <tr>
      <th class="pb-3">Name</th>
      <th class="pb-3">Muscle Group</th>
      <th class="pb-3">Type</th>
      <th colspan="1" class="text-right">
        <button 
          (click)="addClick()"
          type="button" 
          class="btn btn-dark btn-sm" 
          data-toggle="modal" 
          data-target="#exerciseForm"
        ><i class="fa fa-plus"></i> New</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exercise of exercises">
      <td>{{ exercise.name }}</td>
      <td>{{ exercise.muscleGroup }}</td>
      <td>{{ exercise.type }}</td>
      <td class="text-right">
        <button 
          (click)="editClick(exercise)"
          type="button" 
          class="btn btn-secondary btn-sm"
          data-toggle="modal" 
          data-target="#exerciseForm"
        ><i class="fa fa-edit"></i></button>
        <button 
          (click)="deleteClick(exercise)"
          type="button" 
          class="btn btn-danger btn-sm"
          data-toggle="modal" 
          data-target="#exerciseForm"
        ><i class="fa fa-times-circle"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<app-exercise-form [type]="formType" [exercise]="exercise"></app-exercise-form>