<h1>Exercises</h1>
<table class="table" *ngIf="exercises?.length > 0; else noExercises">
  <thead>
    <tr>
      <th class="pb-3">Name</th>
      <th class="pb-3">Muscle Group</th>
      <th class="pb-3">Type</th>
      <th colspan="1" class="text-right">
        <button class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> New</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exercise of exercises">
      <td>{{ exercise.name }}</td>
      <td>{{ exercise.muscleGroup }}</td>
      <td>{{ exercise.type }}</td>
      <td class="text-right">
        <button class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noExercises>
  <app-spinner></app-spinner>
</ng-template>