<div *loading="workoutExercise.exercise === undefined">
  <hr>
  <div class="media">
    <div class="exercise-info mr-3 col-4 px-0">
      <h3>{{ workoutExercise.exercise.name }}</h3>
      <dl>
        <dt class="text-secondary">Muscle Group:</dt>
        <dd>{{ workoutExercise.exercise.muscleGroup }}</dd>
        <dt class="text-secondary">Type:</dt>
        <dd>{{ workoutExercise.exercise.type }}</dd>
      </dl>
      <div>
        <button 
          (click)="deleteClick(workoutExercise)"
          type="button" 
          class="btn btn-outline-danger btn-sm"
        >Delete</button>
      </div>
    </div>
    <div class="media-body col-8">
      <h3>Sets</h3>
      <table *ngIf="workoutExercise.sets.length > 0" class="workout-sets table table-sm table-hover">
        <tr>
          <th>#</th>
          <th>Weight</th>
          <th>Reps</th>
          <th class="text-right">
            <button 
              (click)="addSetClick()"
              type="button" 
              class="btn btn-sm btn-outline-dark my-1"
            ><i class="fa fa-plus"></i> New Set</button>
          </th>
        </tr>
        <tr 
          app-exercise-set 
          *ngFor="let set of workoutExercise.sets; let i = index" 
          [set]="set" 
          [index]="i"
          (saveEvent)="save()"
          (deleteEvent)="deleteSet($event)"
        >
      </table>
      <div *ngIf="workoutExercise.sets.length === 0">
        <button 
          (click)="addSetClick()"
          type="button" 
          class="btn btn-sm btn-outline-dark my-1"
        ><i class="fa fa-plus"></i> New Set</button>
      </div>
    </div>
  </div>
</div>