
<div class="row">
  <div class="col-md-6">
    <a routerLink="/workouts" class="btn btn-link text-dark">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Workouts
    </a>
  </div>
  <div class="col-md-6 mb-2">
    <button *ngIf="formType === 'EDIT'" type="button" class="btn btn-outline-danger btn-sm float-right" data-toggle="modal" data-target="#deleteModal">
      <i class="fa fa-times-circle"></i> Delete
    </button>
  </div>
</div>

<div class="clearfix mt-4">
  <form #workoutForm="ngForm" (ngSubmit)="onSubmit(workoutForm)">
  <div>
    <input type="hidden" name="id" [(ngModel)]="workout.id">
    <div class="form-group">
      <label for="date">Date / Time</label>
      <app-datetime-picker [name]="'date'" [format]="dateFormatDisplay" [(ngModel)]="workout.date"></app-datetime-picker>
    </div>

    <input type="submit" [disabled]="!workoutForm.valid" value="Save" class="btn btn-dark my-2 float-right">
  </div>
  </form>
</div>

<div *ngIf="formType === 'EDIT'" class="card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Exercises</h2>
      </div>
      <div class="col-md-6">
        <button 
          type="button" 
          class="btn btn-sm btn-outline-dark my-1 float-right"
          data-toggle="modal" 
          data-target="#addExerciseModal"
        ><i class="fa fa-plus"></i> New Exercise</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container px-0" *loading="exercisesLoading">
      <div *ngIf="workoutExercises.length > 0">
        <div *ngFor="let workoutExercise of workoutExercises">
          <app-workout-exercise [workoutExercise]="workoutExercise"></app-workout-exercise>
        </div>
      </div>
    </div>
  </div>


  <!-- ADD EXERCISE MODAL -->
  <div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose Exercise</h5>
          <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <app-workout-exercises (addWorkoutExerciseEvent)="addWorkoutExercise($event)"></app-workout-exercises>

      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Are you sure?</h5>
        <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <form *ngIf="workout" #deleteWorkoutForm="ngForm" (ngSubmit)="onDeleteSubmit(deleteWorkoutForm)">
        <input type="hidden" name="id" [(ngModel)]="workout.id">
        <div class="modal-body">
          You are about to permanently delete this workout.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
        </div>
      </form>
  
    </div>
  </div>
</div>