<div class="modal fade" id="exerciseForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <!-- ADD or EDIT -->
  <div *ngIf="type === 'ADD' || type === 'EDIT'" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ type | titlecase }} Exercise</h5>
        <button #closeModal (click)="cancelClick()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form *ngIf="exercise" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" formControlName="id">
        <div class="modal-body">

          <!-- Exercise Name -->
          <div class="form-group">
            <label for="name">Name</label>
            <input 
              type="text"
              class="form-control"
              [ngClass]="exerciseForm.get('name').touched && exerciseForm.get('name').invalid ? 'is-invalid' : ''"
              name="name"
              formControlName="name"
            >
            <div [hidden]="!exerciseForm.get('name').errors?.required" class="invalid-feedback">
              Exercise name is required
            </div>
            <div [hidden]="!exerciseForm.get('name').errors?.minlength" class="invalid-feedback">
              Must be at least two characters
            </div>
          </div>

          <!-- Muscle Group -->
          <div class="form-group">
            <label for="muscleGroup">Muscle Group</label>
            <input 
              type="text"
              class="form-control"
              [ngClass]="exerciseForm.get('muscleGroup').touched && exerciseForm.get('muscleGroup').invalid ? 'is-invalid' : ''"
              name="muscleGroup"
              formControlName="muscleGroup"
              minlength="2"
              required
            >
            <div [hidden]="!exerciseForm.get('muscleGroup').errors?.required" class="invalid-feedback">
              Muscle Group is required
            </div>
            <div [hidden]="!exerciseForm.get('muscleGroup').errors?.minlength" class="invalid-feedback">
              Must be at least two characters
            </div>
          </div>

          <!-- Exercise Type -->
          <div class="form-group">
            <label for="exerciseType">Exercise Type</label>
            <input 
              type="text"
              class="form-control"
              [ngClass]="exerciseForm.get('type').touched && exerciseForm.get('type').invalid ? 'is-invalid' : ''"
              name="type"
              formControlName="type"
              minlength="2"
              required
            >
            <div [hidden]="!exerciseForm.get('type').errors?.required" class="invalid-feedback">
              Exercise Type is required
            </div>
            <div [hidden]="!exerciseForm.get('type').errors?.minlength" class="invalid-feedback">
              Must be at least two characters
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="cancelClick()" type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancel</button>
          <input [disabled]="!exerciseForm.valid" type="submit" class="btn btn-dark btn-sm" value="Save">
        </div>
      </form>
    </div>
  </div>


  <!-- DELETE -->
  <div *ngIf="type === 'DELETE'" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure?</h5>
        <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form *ngIf="exercise" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" formControlName="id">
        <div class="modal-body">
          You are about to permanently delete <em><strong>{{ exercise.name }}</strong></em>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
        </div>
      </form>

    </div>
  </div>


</div>