<td (click)="editClick()">
  <span class="align-middle">{{ index + 1 }}</span>
</td>
<td (click)="editClick()">
  <span class="align-middle" *ngIf="editMode === false">{{ set.weight }}</span>
  <input #weightInput *ngIf="editMode === true" type="text" [(ngModel)]="set.weight">
</td>
<td (click)="editClick()">
  <span class="align-middle" *ngIf="editMode === false">{{ set.reps }}</span>
  <input #repsInput *ngIf="editMode === true" type="text" [(ngModel)]="set.reps">
</td>
<td class="text-right">
  <button 
    *ngIf="editMode === false"
    (click)="editClick()"
    type="button" 
    class="btn btn-outline-dark btn-sm"
  ><i class="fa fa-edit"></i></button>
  <button 
    *ngIf="editMode === true"
    (click)="saveClick(set)"
    type="button" 
    class="btn btn-outline-success btn-sm"
  ><i class="fa fa-check-circle"></i></button>
  <button 
    (click)="deleteClick(index)"
    type="button" 
    class="btn btn-outline-danger btn-sm"
  ><i class="fa fa-times-circle"></i></button>
</td>