/* enable absolute positioning */
.inner-addon { 
  position: relative; 
  width: 75%;

  /* style icon */
  .fa {
    position: absolute;
    padding: 10px;

    &.fa-times {
      cursor: pointer;
    }
  }
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }